<%- include('./partials/header') %>
    <div class="container">
        <div class="d-flex justify-content-center">
            <h1 class="mt-5 text-primary">Welcome To Bill Splitter App</h1>
        </div>
        <div class="mt-4 d-flex justify-content-center ">
            <p class="mt-2 text-wrap text-break fs-4 text-secondary" style="width: 50rem;">With this application you can calculate your total bill and also tax and then you can devide it based on the number of your persons to see how much should each person pays!</p>
        </div>
        <div class="mt-5">
            <div class="text-center text-primary">
                <h3>
                    TAX amounts:
                </h3>
            </div>
            <div class="d-flex justify-content-center mt-3">
                <table class="table text-black-50 text-center" style="width: 15rem">
                    <thead>
                      <tr>
                        <th scope="col">#</th>
                        <th scope="col">Type</th>
                        <th scope="col">TAX</th>
                      </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">1</th>
                            <td>Alcohol</td>
                            <td>10%</td>    
                        </tr>
                        <tr>
                            <th scope="row">2</th>
                            <td>PST</td>
                            <td>7%</td>
                        </tr>
                        <tr>
                            <th scope="row">3</th>
                            <td>GST</td>
                            <td>5%</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
<%- include('./partials/footer') %>